/**************************/
/*** <colors> ***/
$black: #000;
$dark: #363738;
$white: #fff;
$primary: #DB4444;
$lightgreen: #00FF66;

$caution: #EEAA10;
$success: #8FD694;
$error: #F64740;
/*** </colors> ***/
/**************************/


/**************************/
/*** <other variables> ***/
$fontSizeRoot: 16px;
$mainFontFamily: 'Poppins', sans-serif;
$accentFontFamily: 'Inter', sans-serif;
$transition: all 0.3s ease;
/*** </other variables> ***/
/**************************/